
$clr-black: black;
$clr-gray-f7: #F7F7F7;
$clr-gray-f0: #F0F0F0;
$clr-white: white;
$clr-confirm: #484848;
$clr-cancel: #D8D8D8;

$clr-font: black;
$clr-font-comment: #6D7278;
$clr-font-disable: #4C4C4C;

$clr-calendar-lv1: black;
$clr-calendar-lv2: #6D7278;
$clr-calendar-lv3: #C9CCD0;

$f-size-1: 1rem * 0.75;
$f-size-2: 1rem;
$f-size-3: 1rem * 1.25;
$f-size-4: 1rem * 1.5;
$f-size-5: 1rem * 2;
$f-size-6: 1rem * 2.25;

$limit-w-pc: 768px;
